<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="shortcut icon" href="./favicon.ico">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/mmenu-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>

	<div>

		<header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
			<nav class="uk-navbar-container uk-navbar-transparent uk-navbar" data-uk-navbar>

				<div class="uk-navbar-left">
					<a href="./" class="uk-navbar-item uk-logo">
						<img src="{{logo}}" alt="{{nb.siteName}} Logo" width="216" height="121">
					</a>
				</div>

				<div class="uk-navbar-right">
					<div id="nav" class="uk-visible@m">
						<div class="uk-flex uk-flex-middle uk-flex-right nav-top">
							<button class="uk-button uk-button-small open-today" aria-label="Check what's open today">{{>renderIcon name='clock' class="uk-margin-small-right"}}Open Today{{>renderIcon name='caret-down'}}</button>
							<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -144" class="uk-width-1-1">
								<div class="uk-grid uk-child-width-1-4@m" data-uk-grid>
									<div>
										<div>
											<div class="uk-h5"><span class="uk-text-primary">Mareel</span> Opening Hours</div>
											<div class="uk-text-small uk-text-bold">Wednesday to Sunday</div>
											<div class="uk-text-small uk-margin-bottom">Building hours: 10am - 10pm (or when last film is coming out)</div>
											<div class="uk-text-small uk-text-bold">Cafe hours:</div>
											<div class="uk-text-small">Wed, Thu, Sun: 10am - 8pm</div>
											<div class="uk-text-small">Fri, Sat:  10am - 11pm</div>
										</div>
									</div>
									<div>
										<div>
											<div class="uk-h5"><span class="uk-text-primary">Bonhoga</span> Opening Hours</div>
											<div class="uk-text-small uk-text-bold">Wednesday to Sunday</div>
											<div class="uk-text-small uk-margin-bottom">10.30am - 4.30pm</div>
										</div>
									</div>
									<div>
										<div>
											<div class="uk-h5"><span class="uk-text-primary">The Garrison</span> Opening Hours</div>
											<div class="uk-text-small">Various throughout the year - check out our listings for more information.</div>
										</div>
									</div>
									<div>
										<div>
											<div class="uk-h5"><span class="uk-text-primary">The Booth</span> Opening Hours</div>
											<div class="uk-text-small">Private hire only</div>
										</div>
									</div>
								</div>
							</div>
							<ul class="uk-list uk-flex uk-flex-middle uk-margin-remove-top  uk-margin-remove-bottom">
								<li>
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='letter'}}
										Contact
									</a>
								</li>
								<li class="uk-margin-remove-top">
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='donate'}}
										Donate
									</a>
								</li>
								<li class="uk-margin-remove-top">
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='tickets'}}
										Book Online
									</a>
								</li>
							</ul>
						</div>
						<div class="uk-flex uk-flex-middle">
							{{> renderNavigation items=menu active=page.name}}
							<button class="uk-button toggle-button" aria-label="Open menu"><span class="uk-position-center" role="presentation"></span></button>
							<div data-uk-dropdown="mode: click">
								<ul class="uk-nav uk-dropdown-nav">
									<li class="uk-active"><a href="#">Active</a></li>
									<li><a href="#">Item</a></li>
									<li class="uk-nav-header">Header</li>
									<li><a href="#">Item</a></li>
									<li><a href="#">Item</a></li>
									<li class="uk-nav-divider"></li>
									<li><a href="#">Item</a></li>
								</ul>
							</div>
							<div class="uk-visible@m">
								<form class="uk-search uk-search-default">
									<span class="uk-search-icon-flip" data-uk-search-icon></span>
									<input class="uk-search-input" type="search" placeholder="Search...">
								</form>
							</div>							
						</div>
					</div>
					<a href="#mmenu" class="uk-navbar-toggle uk-hidden@m" aria-label="Toggle Navigation">
						<span data-uk-navbar-toggle-icon></span>
						<span class="uk-hidden" data-uk-close></span>
					</a>
				</div>

			</nav>
		</header>

		<main class="uk-margin-bottom">

			{{#if page.banner}}
				{{> banner}}
			{{else if page.homeBanner}}
				{{> homeBanner}}
			{{else}}
				{{#if page.styleguide}}
					<div class="share-sticky uk-flex uk-flex-right uk-visible@l" data-uk-sticky="offset: 100">
						{{>share sticky="true"}}
					</div>
				{{/if}}
				{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
					{{#*inline "out"}}
						{{> ukBreadcrumb}}					
						<h1>{{page.h1}}</h1>
					{{/inline}}
				{{/ukContainer}}
			{{/if}}

			{{#> main}}{{/main}}

		</main>

		<footer class="footer">
			<div class="uk-container uk-container-xlarge">
				<div class="footer-top">
						<div class="uk-container uk-container-large">
							<div class="uk-flex uk-flex-wrap uk-flex-between uk-flex-middle">
								<a href="#" class="uk-h3 uk-margin-medium-top uk-margin-remove-bottom uk-text-uppercase uk-flex">
									{{>renderIcon class="uk-hidden@s" name='tickets'}}
									Book Tickets
									{{>renderIcon class="uk-visible@s" name='tickets'}}
								</a>
								<a href="#" class="uk-h3 uk-margin-remove-bottom uk-text-uppercase uk-flex">
									{{>renderIcon class="uk-hidden@s" name='donate'}}
									Donate
									{{>renderIcon class="uk-visible@s" name='donate'}}
								</a>
								<a href="#" class="uk-h3 uk-margin-remove-bottom uk-text-uppercase uk-flex">
									{{>renderIcon class="uk-hidden@s" name='member'}}
									Become a member
									{{>renderIcon class="uk-visible@s" name='member'}}
								</a>
								<a href="#" class="uk-h3 uk-margin-remove-bottom uk-text-uppercase uk-flex">
									{{>renderIcon class="uk-hidden@s" name='signup'}}
									Sign up to our mailing list
									{{>renderIcon class="uk-visible@s" name='signup'}}
								</a>
							</div>
						</div>
				</div>

				<div class="footer-middle">
					<div class="uk-container uk-container-large">
						<div class="uk-flex">
							<div class="footer-brand uk-visible@l">
								<a class="uk-display-block" href="#"><img src="./img/logo-footer.png" loading='lazy' width="261" height="146" alt="Shetland Arts"></a>
								<p class="uk-text-small">Shetland's lead arts organisation, a registered charity core funded by Shetland Charitable Trust and Creative Scotland. Scottish Charity Number: SC037082</p>
								<div class="uk-flex">
									<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/shetland-cheritable-trust.png" loading='lazy' width="237" height="49" alt="Shetland Charitable Trust"></a>
									<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/alba-chruthachail.png" loading='lazy' width="82" height="53" alt="Alba Chruthachail"></a>
								</div>
							</div>
							{{#> ukGrid class="uk-child-width-1-3@l uk-child-width-1-2@m"}}
								{{#*inline "cells"}}
									<div class="footer-brand uk-hidden@l">
										<a class="uk-display-block" href="#"><img src="./img/logo-footer.png" loading='lazy' width="261" height="146" alt="Shetland Arts"></a>
										<p class="uk-text-small">Shetland's lead arts organisation, a registered charity core funded by Shetland Charitable Trust and Creative Scotland. Scottish Charity Number: SC037082</p>
										<div class="uk-flex">
											<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/shetland-cheritable-trust.png" loading='lazy' width="237" height="49" alt="Shetland Charitable Trust"></a>
											<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/alba-chruthachail.png" loading='lazy' width="82" height="53" alt="Alba Chruthachail"></a>
										</div>
									</div>
									<div>
										<a href="tel:+441595743843" class="uk-h4 uk-text-bold uk-text-uppercase">Contact Us<br> +44 (0)1595 743 843</a>
										<p class="uk-text-small">Shetland Arts Development Agency Mareel, Lerwick, Shetland, ZE1 0WQ</p>
										<div class="uk-text-small">Shetland Arts Reception:</div>
										<div class="uk-text-small">Tel: <a href="tel:+441595743843">+44 (0)1595 743 843</a></div>
										<div class="uk-text-small">Fax: <a href="+441595694001">+44 (0) 1595 694 001</a></div>
										<div class="uk-text-small"><a href="mailto:info@shetlandarts.org">info@shetlandarts.org</a></div>
									</div>
									<div>
										<a href="tel:+441595745500" class="uk-h4 uk-text-bold uk-text-uppercase">Box Office<br> +44 (0)1595 745 500</a>
										<p class="uk-text-small">
											Tickets can be bought online, over the phone or in person at Mareel Shetland's new music, cinema and education venue; and the Garrison Theatre.
										</p>
										<div class="share uk-position-relative uk-position-z-index uk-text-center uk-margin-top uk-grid-margin">
											<ul class="uk-flex uk-flex-middle uk-flex-wrap uk-list">
												<li class="uk-margin-small-top">
													<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="#" target="_blank" rel="noopener noreferrer" aria-label="Visit our Facebook page">
														{{> renderIcon name="facebook"}}
													</a>
												</li>
												<li>
													<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="#" target="_blank" rel="noopener noreferrer" aria-label="Visit our Twitter page">
														{{> renderIcon name="twitter"}}
													</a>
												</li>
												<li>
													<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="#" target="_blank" rel="noopener noreferrer" aria-label="Visit our Pinterest page">
														{{> renderIcon name="pinterest"}}
													</a>
												</li>
												<li>
													<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="mailto:#" aria-label="Contact us via email">
														{{> renderIcon name="instagram"}}
													</a>
												</li>
												<li>
													<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="mailto:#" aria-label="Contact us via email">
														{{> renderIcon name="soundcloud"}}
													</a>
												</li>
											</ul>
										</div>
									</div>
									<div>
										<ul class="uk-list uk-padding-remove-left">
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">Get Tickets</a>
											</li>
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">Donate</a>
											</li>
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">Get In Touch</a>
											</li>
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">About</a>
											</li>
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">Work For Us</a>
											</li>
											<li>
												<a href="#" class="uk-h4 uk-text-bold uk-text-uppercase">Volunteer With Us</a>
											</li>
										</ul>
									</div>
								{{/inline}}
							{{/ukGrid}}
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="uk-container uk-container-xlarge">
					<div class="uk-flex uk-flex-middle uk-flex-between uk-flex-wrap uk-position-relative">
						<div class="uk-flex uk-flex-middle uk-flex-wrap">
							<div class="copyright uk-text-bold uk-text-uppercase uk-text-meta uk-margin-bottom">&copy; {{year}} {{nb.clientName}}</div>
							<div class="legal uk-flex uk-flex-middle">
								<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap uk-margin-remove-bottom">
								{{#each legal}}
									<li class="uk-margin-remove-top uk-flex uk-flex-middle uk-margin-bottom">
										<a href="#" class="uk-text-bold uk-text-uppercase uk-text-meta">{{this}}</a>
									</li>
								{{/each}}
								</ul>
							</div>
							<div class="watermark uk-text-bold uk-text-uppercase uk-text-meta uk-margin-bottom">
								Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo" width="16" height="16" loading="lazy"></a>
							</div>						
						</div>
						<a href="#" data-uk-totop data-uk-scroll class="uk-button uk-button-primary uk-button-large">
							Back to the top
							{{> renderIcon name="arrow-up"}}
						</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div id="mmenu" class="uk-hidden">
		{{> renderNavigation items=menu mobile=true active=page.name}}
	</div>

	<script src="./js/uikit.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/mmenu.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>
