<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="shortcut icon" href="./favicon.ico">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/mmenu-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body>

	<div>

		<header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
			<nav class="uk-navbar-container uk-navbar-transparent uk-navbar" data-uk-navbar>

				<div class="uk-navbar-left">
					<a href="./" class="uk-navbar-item uk-logo">
						<img src="{{logo}}" alt="{{nb.siteName}} Logo" width="216" height="121">
					</a>
				</div>

				<div class="uk-navbar-right">
					<div id="nav" class="uk-visible@m">
						<div class="uk-flex uk-flex-middle uk-flex-right nav-top">
							<button class="uk-button uk-button-small open-today" aria-label="Check what's open today">{{>renderIcon name='clock' class="uk-margin-small-right"}}Open Today{{>renderIcon name='caret-down'}}</button>
							<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -144" class="uk-width-1-1 open-today-menu">
								<div class="uk-grid uk-child-width-1-4@m" data-uk-grid>
									<div>
										<ul class="uk-list">
											<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Mareel</span> Opening Hours</li>
											<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
											<li class="uk-text-small uk-margin-bottom">Building hours: 10am - 10pm (or when last film is coming out)</li>
											<li class="uk-text-small uk-text-bold">Cafe hours:</li>
											<li class="uk-text-small">Wed, Thu, Sun: 10am - 8pm</li>
											<li class="uk-text-small">Fri, Sat:  10am - 11pm</li>
										</ul>
									</div>
									<div>
										<ul class="uk-list">
											<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Bonhoga</span> Opening Hours</li>
											<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
											<li class="uk-text-small uk-margin-bottom">10.30am - 4.30pm</li>
										</ul>
									</div>
									<div>
										<ul class="uk-list">
											<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Garrison</span> Opening Hours</li>
											<li class="uk-text-small">Various throughout the year - check out our listings for more information.</li>
										</ul>
									</div>
									<div>
										<ul class="uk-list">
											<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Booth</span> Opening Hours</li>
											<li class="uk-text-small">Private hire only</li>
										</ul>
									</div>
								</div>
								<div class="dropdown-bg" role="presentation"></div>
							</div>
							<ul class="uk-list uk-flex uk-flex-middle uk-margin-remove-top uk-margin-remove-bottom">
								<li>
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='letter'}}
										Contact
									</a>
								</li>
								<li class="uk-margin-remove-top">
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='donate'}}
										Donate
									</a>
								</li>
								<li class="uk-margin-remove-top">
									<a class="uk-button uk-button-small" href="#">
										{{>renderIcon class="uk-margin-small-right" name='tickets'}}
										Book Online
									</a>
								</li>
							</ul>
						</div>
						<div class="uk-flex uk-flex-middle">
							{{> renderNavigation items=menu active=page.name}}
							<a href="#megamenu" class="uk-button button-toggle" aria-label="Open Navigation" data-uk-toggle><span class="uk-position-center" role="presentation"></span></a>
							<div data-uk-modal class="uk-width-1-1 mega-menu" id="megamenu">
								<div class="uk-flex uk-flex-middle uk-flex-right nav-top uk-margin-medium-bottom">
									<button class="uk-button uk-button-small open-today" aria-label="Check what's open today">{{>renderIcon name='clock' class="uk-margin-small-right"}}Open Today{{>renderIcon name='caret-down'}}</button>
									<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -144" class="uk-width-1-1 open-today-menu">
										<div class="uk-grid uk-child-width-1-4@m" data-uk-grid>
											<div>
												<ul class="uk-list">
													<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Mareel</span> Opening Hours</li>
													<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
													<li class="uk-text-small uk-margin-bottom">Building hours: 10am - 10pm (or when last film is coming out)</li>
													<li class="uk-text-small uk-text-bold">Cafe hours:</li>
													<li class="uk-text-small">Wed, Thu, Sun: 10am - 8pm</li>
													<li class="uk-text-small">Fri, Sat:  10am - 11pm</li>
												</ul>
											</div>
											<div>
												<ul class="uk-list">
													<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Bonhoga</span> Opening Hours</li>
													<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
													<li class="uk-text-small uk-margin-bottom">10.30am - 4.30pm</li>
												</ul>
											</div>
											<div>
												<ul class="uk-list">
													<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Garrison</span> Opening Hours</li>
													<li class="uk-text-small">Various throughout the year - check out our listings for more information.</li>
												</ul>
											</div>
											<div>
												<ul class="uk-list">
													<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Booth</span> Opening Hours</li>
													<li class="uk-text-small">Private hire only</li>
												</ul>
											</div>
										</div>
										<div class="dropdown-bg" role="presentation"></div>
									</div>
									<ul class="uk-list uk-flex uk-flex-middle uk-margin-remove-top uk-margin-remove-bottom">
										<li>
											<a class="uk-button uk-button-small" href="#">
												{{>renderIcon class="uk-margin-small-right" name='letter'}}
												Contact
											</a>
										</li>
										<li class="uk-margin-remove-top">
											<a class="uk-button uk-button-small" href="#">
												{{>renderIcon class="uk-margin-small-right" name='donate'}}
												Donate
											</a>
										</li>
										<li class="uk-margin-remove-top">
											<a class="uk-button uk-button-small" href="#">
												{{>renderIcon class="uk-margin-small-right" name='tickets'}}
												Book Online
											</a>
										</li>
									</ul>
								</div>								
								<button data-uk-close class="uk-button button-toggle uk-modal-close" aria-label="Close menu"><span class="uk-position-center" role="presentation"></span></button>
								<div class="uk-flex-wrap uk-modal-body" data-uk-grid="masonry: true">
									<div>
										<ul class="uk-list uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">What’s on</a></li>
											<li><a href="#">Today</a></li>
											<li><a href="#">This Week</a></li>
											<li><a href="#">This Weekend</a></li>
											<li><a href="#">This Month</a></li>
											<li><a href="#">Film</a></li>
											<li><a href="#">Music</a></li>
											<li><a href="#">Drama & Dance</a></li>
											<li><a href="#">Visual Art & Craft </a></li>
											<li><a href="#">Festivals</a></li>
											<li><a href="#">Literature</a></li>
											<li><a href="#">Comedy</a></li>
											<li><a href="#">Events & Workshops</a></li>
											<li><a href="#">Memberships</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Visit Us</a></li>
											<li><a href="#">Bonhoga</a></li>
											<li><a href="#">The Garrison</a></li>
											<li><a href="#">Mareel</a></li>
											<li><a href="#">ShetlandMade</a></li>
											<li><a href="#">The Booth</a></li>
											<li><a href="#">Access Information</a></li>
											<li><a href="#">Artists Information</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Projects</a></li>
											<li><a href="#">Past projects</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Festivals</a></li>
											<li><a href="#">Screenplay</a></li>
											<li><a href="#">Wordplay</a></li>
											<li><a href="#">Artists Information</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Exhibitions</a></li>
											<li><a href="#">Past Exhibitions</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Learn</a></li>
											<li><a href="#">Study with us</a></li>
											<li><a href="#">Youth Arts</a></li>
											<li><a href="#">Wellbeing arts</a></li>
											<li><a href="#">Art in care</a></li>
											<li><a href="#">Schools resources</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Hire</a></li>
											<li><a href="#">Meetings and conferences</a></li>
											<li><a href="#">Weddings and partnerships</a></li>
											<li><a href="#">Event hire</a></li>
											<li><a href="#">Cinema hire</a></li>
											<li><a href="#">Recording studio</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">About</a></li>
											<li><a href="#">People</a></li>
											<li><a href="#">Media centre</a></li>
											<li><a href="#">Governance</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-list uk-margin-remove-top uk-margin-medium-bottom">
											<li class="uk-text-bold uk-text-uppercase uk-modal-title"><a href="#">Opportunities</a></li>
											<li><a href="#">Jobs</a></li>
											<li><a href="#">Volunteer</a></li>
											<li><a href="#">Commissions</a></li>
											<li><a href="#">Funding</a></li>
											<li><a href="#">Artists resources</a></li>
										</ul>
									</div>
								</div>
								<img class="uk-preserve uk-position-bottom-right" src="./img/boat-menu.svg" data-uk-svg alt="Shetland Arts Boat Logo">
								<img class="menu-logo" src="./img/logo-menu.png" loading="lazy" width="291" height="40" alt="Shetland Arts Logo">
								<div class="modal-bg" role="presentation"></div>
							</div>
							<div class="uk-visible@m">
								<form class="uk-search uk-search-default">
									<span class="uk-search-icon-flip" data-uk-search-icon></span>
									<input class="uk-search-input" type="search" placeholder="Search...">
								</form>
							</div>							
						</div>
					</div>
					<div class="uk-flex uk-flex-middle uk-flex-right nav-top uk-hidden@m">
						<div class="uk-flex uk-flex-column">
							<ul class="uk-list uk-flex uk-flex-middle uk-margin-remove-top  uk-margin-remove-bottom">
								<li class="uk-margin-small-right">
									<a class="uk-button uk-button-small uk-flex-column" href="#" aria-label="Contact">
										{{>renderIcon name='letter' class="uk-margin-remove-left"}}
										<span class="uk-text-uppercase">Contact</span>
									</a>
								</li>
								<li class="uk-margin-remove-top uk-margin-small-right">
									<a class="uk-button uk-button-small uk-flex-column" href="#" aria-label="Donate">
										{{>renderIcon name='donate' class="uk-margin-remove-left"}}
										<span class="uk-text-uppercase">Donate</span>
									</a>
								</li>
								<li class="uk-margin-remove-top">
									<a class="uk-button uk-button-small uk-flex-column" href="#" aria-label="Book Online">
										{{>renderIcon name='tickets' class="uk-margin-remove-left"}}
										<span class="uk-text-uppercase">Book</span>
									</a>
								</li>				
							</ul>
							<div class="uk-flex uk-flex-right">
								<button class="uk-button uk-button-small open-today uk-margin-small-bottom" aria-label="Check what's open today">Open Today{{>renderIcon name='caret-down'}}{{>renderIcon name='clock' class="uk-margin-small-left"}}</button>
								<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -78" class="uk-width-1-1 open-today-menu">
									<div class="uk-grid uk-child-width-1-4@m" data-uk-grid>
										<div>
											<ul class="uk-list">
												<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Mareel</span> Opening Hours</li>
												<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
												<li class="uk-text-small uk-margin-bottom">Building hours: 10am - 10pm (or when last film is coming out)</li>
												<li class="uk-text-small uk-text-bold">Cafe hours:</li>
												<li class="uk-text-small">Wed, Thu, Sun: 10am - 8pm</li>
												<li class="uk-text-small">Fri, Sat:  10am - 11pm</li>
											</ul>
										</div>
										<div>
											<ul class="uk-list">
												<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Bonhoga</span> Opening Hours</li>
												<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
												<li class="uk-text-small uk-margin-bottom">10.30am - 4.30pm</li>
											</ul>
										</div>
										<div>
											<ul class="uk-list">
												<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Garrison</span> Opening Hours</li>
												<li class="uk-text-small">Various throughout the year - check out our listings for more information.</li>
											</ul>
										</div>
										<div>
											<ul class="uk-list">
												<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Booth</span> Opening Hours</li>
												<li class="uk-text-small">Private hire only</li>
											</ul>
										</div>
									</div>
									<div class="dropdown-bg" role="presentation"></div>
								</div>
							</div>
							<div class="uk-flex uk-flex-right uk-flex-middle">
								<button class="button-search uk-button uk-flex uk-flex-center uk-flex-middle" aria-label="Check what's open today">
									{{>renderIcon name="search" class="uk-margin-remove-left"}}
								</button>
								<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -170" class="uk-width-1-1 search-menu">
									<div class="uk-flex uk-flex-right">
										<button class="uk-button uk-button-small open-today uk-margin-small-bottom" aria-label="Check what's open today">Open Today{{>renderIcon name='caret-down'}}{{>renderIcon name='clock' class="uk-margin-small-left"}}</button>
										<div data-uk-dropdown="mode: click; boundary: .header; boundary-align: true; offset: -78" class="uk-width-1-1 open-today-menu">
											<div class="uk-grid uk-child-width-1-4@m" data-uk-grid>
												<div>
													<ul class="uk-list">
														<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Mareel</span> Opening Hours</li>
														<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
														<li class="uk-text-small uk-margin-bottom">Building hours: 10am - 10pm (or when last film is coming out)</li>
														<li class="uk-text-small uk-text-bold">Cafe hours:</li>
														<li class="uk-text-small">Wed, Thu, Sun: 10am - 8pm</li>
														<li class="uk-text-small">Fri, Sat:  10am - 11pm</li>
													</ul>
												</div>
												<div>
													<ul class="uk-list">
														<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">Bonhoga</span> Opening Hours</li>
														<li class="uk-text-small uk-text-bold">Wednesday to Sunday</li>
														<li class="uk-text-small uk-margin-bottom">10.30am - 4.30pm</li>
													</ul>
												</div>
												<div>
													<ul class="uk-list">
														<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Garrison</span> Opening Hours</li>
														<li class="uk-text-small">Various throughout the year - check out our listings for more information.</li>
													</ul>
												</div>
												<div>
													<ul class="uk-list">
														<li class="uk-h5 uk-text-uppercase"><span class="uk-text-primary">The Booth</span> Opening Hours</li>
														<li class="uk-text-small">Private hire only</li>
													</ul>
												</div>
											</div>
											<div class="dropdown-bg" role="presentation"></div>
										</div>
									</div>									
									<form class="uk-search uk-search-default uk-margin-left">
										<span class="uk-search-icon-flip" data-uk-search-icon></span>
										<input class="uk-search-input uk-border-pill" type="search" placeholder="Search...">
									</form>		
									<div class="dropdown-bg" role="presentation"></div>															
								</div>
								<a href="#" class="uk-navbar-toggle uk-position-relative uk-margin-small-left" aria-label="Toggle Navigation" data-uk-toggle="target: #mmenu;cls: menu-hidden;">
									<span class="uk-position-center" role="presentation"></span>
								</a>
							</div>
						</div>
					</div>
				</div>

			</nav>
		</header>

		<main class="uk-margin-bottom">

			{{#if page.banner}}
				{{> banner}}
				{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
					{{#*inline "out"}}
						{{> ukBreadcrumb}}					
						<h1>{{page.h1}}</h1>
					{{/inline}}
				{{/ukContainer}}
			{{else if page.sliderBanner}}
				{{> sliderBanner}}
			{{else}}
				{{#if page.styleguide}}
					<div class="share-sticky uk-flex uk-flex-right uk-visible@l" data-uk-sticky="offset: 100">
						{{>share sticky="true"}}
					</div>
				{{/if}}
				{{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
					{{#*inline "out"}}
						{{> ukBreadcrumb}}					
						<h1>{{page.h1}}</h1>
					{{/inline}}
				{{/ukContainer}}
			{{/if}}

			{{#> main}}{{/main}}

		</main>

		<footer class="footer">
			<div class="uk-container uk-container-xlarge">
				<div class="footer-top">
					<div class="uk-container uk-container-large">
						<div class="uk-flex uk-flex-wrap uk-flex-between uk-flex-middle">
							{{#each footerTopLinks}}
								<a href="{{url}}" class="uk-h3{{#if @first}} uk-margin-medium-top{{/if}} uk-margin-remove-bottom uk-text-uppercase uk-flex">
									{{>renderIcon class="uk-hidden@s" name=name}}
									{{title}}
									{{>renderIcon class="uk-visible@s" name=name}}
								</a>									
							{{/each}}								
						</div>
					</div>
				</div>

				<div class="footer-middle">
					<div class="uk-container uk-container-large">
						<div class="uk-flex">
							<div class="footer-brand uk-visible@l">
								<a class="uk-display-block" href="#"><img src="./img/logo-footer.png" loading='lazy' width="261" height="146" alt="Shetland Arts"></a>
								<p class="uk-text-small">Shetland's lead arts organisation, a registered charity core funded by Shetland Charitable Trust and Creative Scotland. Scottish Charity Number: SC037082</p>
								<div class="uk-flex">
									<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/shetland-cheritable-trust.png" loading='lazy' width="237" height="49" alt="Shetland Charitable Trust"></a>
									<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/alba-chruthachail.png" loading='lazy' width="82" height="53" alt="Alba Chruthachail"></a>
								</div>
							</div>
							{{#> ukGrid class="uk-child-width-1-3@l uk-child-width-1-2@m"}}
								{{#*inline "cells"}}
									<div class="footer-brand uk-hidden@l">
										<a class="uk-display-block" href="#"><img src="./img/logo-footer.png" loading='lazy' width="261" height="146" alt="Shetland Arts"></a>
										<p class="uk-text-small">Shetland's lead arts organisation, a registered charity core funded by Shetland Charitable Trust and Creative Scotland. Scottish Charity Number: SC037082</p>
										<div class="uk-flex">
											<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/shetland-cheritable-trust.png" loading='lazy' width="237" height="49" alt="Shetland Charitable Trust"></a>
											<a class="uk-margin-top" href="#" target="_blank" rel="noopener noreferrer"><img src="./img/alba-chruthachail.png" loading='lazy' width="82" height="53" alt="Alba Chruthachail"></a>
										</div>
									</div>
									<div>
										<a href="tel:+441595743843" class="uk-h4 uk-text-bold uk-text-uppercase">Contact Us<br> +44 (0)1595 743 843</a>
										<p class="uk-text-small">Shetland Arts Development Agency Mareel, Lerwick, Shetland, ZE1 0WQ</p>
										<div class="uk-text-small">Shetland Arts Reception:</div>
										<div class="uk-text-small">Tel: <a href="tel:+441595743843">+44 (0)1595 743 843</a></div>
										<div class="uk-text-small">Fax: <a href="+441595694001">+44 (0) 1595 694 001</a></div>
										<div class="uk-text-small"><a href="mailto:info@shetlandarts.org">info@shetlandarts.org</a></div>
									</div>
									<div>
										<a href="tel:+441595745500" class="uk-h4 uk-text-bold uk-text-uppercase">Box Office<br> +44 (0)1595 745 500</a>
										<p class="uk-text-small">
											Tickets can be bought online, over the phone or in person at Mareel Shetland's new music, cinema and education venue; and the Garrison Theatre.
										</p>
										<div class="share uk-position-relative uk-position-z-index uk-text-center uk-margin-top uk-grid-margin">
											<ul class="uk-flex uk-flex-middle uk-flex-wrap uk-list">
												{{#each social}}
													<li {{#if @first}}class="uk-margin-small-top"{{/if}}>
														<a class="uk-flex uk-flex-middle uk-flex-center uk-border-circle uk-background-secondary social" href="{{url}}" target="_blank" rel="noopener noreferrer" aria-label="Visit our {{name}} page">
															{{> renderIcon name=name}}
														</a>
													</li>
												{{/each}}
											</ul>
										</div>
									</div>
									<div>									
										<ul class="uk-list uk-padding-remove-left">
											{{#each footerBottomLinks}}
											<li>
												<a href="{{url}}" class="uk-h4 uk-text-bold uk-text-uppercase">{{title}}</a>									
											</li>
											{{/each}}
										</ul>
									</div>
								{{/inline}}
							{{/ukGrid}}
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="uk-container uk-container-xlarge">
					<div class="uk-flex uk-flex-middle uk-flex-between uk-flex-wrap uk-position-relative">
						<div class="uk-flex uk-flex-middle uk-flex-wrap">
							<div class="copyright uk-text-bold uk-text-uppercase uk-text-meta uk-margin-bottom">&copy; {{year}} {{nb.clientName}}</div>
							<div class="legal uk-flex uk-flex-middle">
								<ul class="uk-list uk-flex uk-flex-middle uk-flex-wrap uk-margin-remove-bottom">
								{{#each legal}}
									<li class="uk-margin-remove-top uk-flex uk-flex-middle uk-margin-bottom">
										<a href="#" class="uk-text-bold uk-text-uppercase uk-text-meta">{{this}}</a>
									</li>
								{{/each}}
								</ul>
							</div>
							<div class="watermark uk-text-bold uk-text-uppercase uk-text-meta uk-margin-bottom">
								Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB <img src="https://brand.nbcommunication.com/logo/web/nb.png" alt="NB Communication Ltd Logo" width="16" height="16" loading="lazy"></a>
							</div>						
						</div>
						<a href="#" data-uk-totop data-uk-scroll class="uk-button uk-button-primary uk-button-large">
							Back to the top
							{{> renderIcon name="arrow-up"}}
						</a>
					</div>
				</div>
			</div>
		</footer>

		<div class="mmenu-overlay uk-hidden">
			<div id="mmenu">
				<form class="uk-search uk-search-default uk-margin-left uk-hidden@m">
					<span class="uk-search-icon-flip" data-uk-search-icon></span>
					<input class="uk-search-input uk-border-pill" type="search" placeholder="Search...">
				</form>			
				{{> renderNavigation items=menu mobile=true active=page.name}}
			</div>
			<div class="mmenu-bg" role="presentation">
				<img class="uk-preserve uk-position-bottom-right" src="./img/boat-menu.svg" data-uk-svg alt="Shetland Arts Boat Logo">
				<img class="menu-logo uk-position-bottom-right uk-margin-right" src="./img/logo-menu.png" loading="lazy" width="291" height="40" alt="Shetland Arts Logo">
			</div>
		</div>
	</div>

	<script src="./js/uikit.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/mmenu.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>
