{{#each items}}
	{{#with this}}
	<div>
		<div class="uk-card">
			<a href="{{url}}" class="uk-position-cover uk-position-z-index"{{#if isMedia}} data-caption="{{caption}}" aria-label="Click to play media"{{/if}}></a>
			<div class="uk-card-media-top uk-overflow-hidden uk-position-relative">
				<img src="{{getImage}}" alt="{{title}}" width="440" height="293" loading="lazy">
				{{#if isMedia}}
					<span class="uk-position-bottom-left">
						{{> renderIcon name=icon}}
					</span>
				{{/if}}
				{{#if label}}
					<a href="#" class="uk-button uk-button-secondary uk-button-large uk-flex-inline">
						<span>{{label}}</span>
						{{> renderIcon name='arrow-right'}}
					</a>
				{{/if}}
			</div>
			{{#unless label}}
				<div class="uk-card-body uk-padding-remove">
					{{#if type}}
					<div class="uk-text-primary uk-margin-top uk-h6">{{type}}</div>
					{{/if}}
					<div class="uk-card-title">{{title}}</div>
					{{#if date_pub}}
					<div class="uk-text-small uk-text-uppercase">{{date_pub}}{{#if author_pub}}{{author_pub}}{{/if}}{{#if time_pub}}{{time_pub}}{{/if}}</div>
					{{/if}}
					{{#if cta}}
					{{> ukButton link=url label="Find out more" style="secondary" size="large" icon="arrow-right"}}
					{{/if}}
				</div>
			{{/unless}}
		</div>
	</div>
	{{/with}}
{{/each}}
