{{#each items}}
	{{#with this}}
	<div{{#if class}} class="{{class}}"{{/if}}>
		<div class="uk-card"{{#if isMedia}} data-uk-lightbox="animation: fade" data-uk-scrollspy="cls: uk-animation-slide-bottom-small"{{/if}}>
			<a href="{{url}}" class="uk-position-cover uk-position-z-index"{{#if isMedia}} data-caption="{{caption}}" aria-label="Click to play media"{{/if}}></a>
			<div class="uk-card-media-top uk-overflow-hidden uk-position-relative{{#if hasCover}} has-cover uk-cover-container{{/if}}">
				<img src="{{getImage}}" alt="{{title}}" width="{{width}}" height="{{height}}" loading="lazy"{{#if hasCover}} data-uk-cover{{/if}}>
				{{#if isMedia}}
					{{> renderIcon class="uk-position-center uk-position-z-index" name="play"}}
					<span class="uk-position-bottom-left uk-background-secondary uk-flex uk-flex-middle uk-flex-center uk-position-z-index" role="presentation">
						{{> renderIcon name=icon}}
					</span>
				{{/if}}
				{{#if label}}
					<a href="#" class="uk-button uk-button-secondary uk-button-large uk-flex-inline">
						<span>{{label}}</span>
						{{> renderIcon name='arrow-right'}}
					</a>
				{{/if}}
			</div>
			{{#unless label}}
				<div class="uk-card-body uk-position-relative uk-padding-remove">
					{{#if type}}
					<div class="uk-text-primary uk-margin-top uk-h6">{{type}}</div>
					{{/if}}
					<div class="uk-card-title">{{title}}</div>
					{{#if date_pub}}
					<div class="uk-text-small uk-text-uppercase">{{date_pub}}{{#if author_pub}}{{author_pub}}{{/if}}{{#if time_pub}}{{time_pub}}{{/if}}</div>
					{{/if}}
					{{#if cta}}
						{{> ukButton link=url label=cta style="secondary" class="uk-position-z-index" size="small" icon="arrow-right"}}
					{{/if}}
				</div>
			{{/unless}}
		</div>
	</div>
	{{/with}}
{{/each}}
